header{
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 999;
    color:#000
}
footer{
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #000;
    color:#fff;
}